<!-- <div class="loader"></div> -->
<!--  <embed src="/html/Kalimba.mp3" loop="true" autostart="true" width="2" height="0"> -->

    <header>
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
              <div class="logo mr-auto"><a href="javascript:void(0)"><img src="../../../../assets/PublicAssets/images/LiveTraveller-white.png" alt=""></a></div>
              <nav class="menus-nav">
                <div class="closeIcn"><h3>Menu</h3> <span></span></div>
                <ul class="top-nav-menu">
                  <li class="d-md-inline active"><a href="#">Home</a></li>
                  <li class="d-md-inline"><a href="#">Destination Finder</a></li>
                  <li class="d-md-inline"><a href="javascript:void(0)">Blogs</a></li>
                  <li class="d-md-inline"><a href="javascript:void(0)">News & Events</a></li>
                  <li class="d-md-inline"><a href="javascript:void(0)">What's New</a></li>
                  <li class="d-md-inline dropdown-link service-dropdown parent">
                    <a href="javascript:void(0)">Booking</a>
                    <ul class="submenu">
                      <li><a href="pre-wedding.html">Flight Booking</a></li>
                      <li><a href="maternity.html">Hotel Booking</a></li>
                      <li><a href="new-born-shoot.html">Packages</a></li>
                      <li><a href="new-born-shoot.html">Attraction</a></li>
                    </ul>
                    <span class="fa fa-angle-down"></span>
                  </li>
                  <li class="d-md-inline"><a href="javascript:void(0)">Travel Utility</a></li>
                </ul>
              </nav>
              <a class="btn-login" href="brousher/epdf.pub_umbrella-summer.pdf" target="_blank">Go Social <span><img src="../../../../assets/PublicAssets/images/sent.png"></span></a>
              <div class="site-search">
                <button class="btn-search" type="button" data-toggle="dropdown"><img src="../../../../assets/PublicAssets/images/search-icon.png" alt=""></button> 
                <div class="search-wrapper dropdown-menu">
                  <form>
                    <div class="form-group">
                      <input type="text" placeholder="Type product name here" class="search-control">
                    </div>
                  </form>
                </div>                      
              </div>
              <div class="site-main-navigation">
                <div class="navigation-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  <img src="../../../../assets/PublicAssets/images/account.png" alt="">
                </div>
                <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 21px, 0px);">
                  <li><a [routerLink]="['/public/login']">My Account</a></li>
                  <li><a [routerLink]="['/public/login']">Login</a></li>
                  <li><a [routerLink]="['/public/signUp']">Sign up</a></li>
                </ul>
              </div>
      
          </div>
          <nav class="mobile-nav">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </nav>
        </div>
        </div>
      </header>
      <!--End of header-->
      <div class="overlay"></div>
      
      <!-- fixed social media start-->
      <div id="fixed-social">
        <div>
          <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
        </div>
        <div>
          <a href="#" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
        </div>
        <div>
          <a href="#" class="fixed-gplus" target="_blank"><i class="fa fa-google"></i> <span>Google+</span></a>
        </div>
        <div>
          <a href="#" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
        </div>
        <div>
          <a href="#" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
        </div>
      </div>
      <!-- fixed social media end -->
      <!-- slider section html START -->
      
      <section class="banner-top">
      
       <div class="slider">
        <div class="slider__slide slider__slide--active" data-slide="1">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>Just Go</h1><a class="go-to-next">next</a></div>
            </div>
          </div>
          <div class="slider__slide" data-slide="2">
            <div class="slider__wrap">
              <div class="slider__back"></div>
            </div>
            <div class="slider__inner">
              <div class="slider__content">
                <h1>adventure Waterfall</h1><a class="go-to-next">next</a></div>
              </div>
            </div>
            <div class="slider__slide" data-slide="3">
              <div class="slider__wrap">
                <div class="slider__back"></div>
              </div>
              <div class="slider__inner">
                <div class="slider__content">
                  <h1>Clibing pie of Rock</h1><a class="go-to-next">next</a></div>
                </div>
              </div>
              <div class="slider__indicators"></div>
            </div>
          </section>
      <!-- slider section html START -->
      
      
      <!-- home destination section css START -->
      <section class="comon-space">
        <div class="container">
          <div class="comn-heading">
            <h2>Destination Videos</h2>
            <h3 class="heading-before">destination</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          </div>
        </div>
      
        <div class="destination--video-slider">
         <div class="section-padding">
         <div class="screenshot_slider owl-carousel">
           <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-1.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#1 Tranding video</div>
          </div>
        </div>
           <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-2.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#2 Tranding video</div>
          </div>
        </div>
        <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-3.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#1 Tranding video</div>
          </div>
        </div>
        <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-1.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#1 Tranding video</div>
          </div>
        </div>
        <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-2.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#1 Tranding video</div>
          </div>
        </div>
        <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-3.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#1 Tranding video</div>
          </div>
        </div>
        <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-1.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#1 Tranding video</div>
          </div>
        </div>
        <div class="item">
            <div class="destination-main-video">
             <img src="../../../../assets/PublicAssets/images/d-slider-2.jpg" alt="" title="">
             <div class="hero-video" data-wow-delay="0.5s" >
              <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
            </div>
            <div class="video-heading">#1 Tranding video</div>
          </div>
        </div>
        </div>
      </div>
      
        </div>
      </section>
      <!-- home destination section css END -->
      
      <!-- theme based pacakges section START -->
      <section class="comon-space">
        <div class="container">
          <div class="comn-heading">
            <h2>Theme Based Packages</h2>
            <h3 class="heading-before">Packages</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          </div>
        </div>
      
          <div class="container">
            <div class="about-rgt">
                <div class="pacakge-img">
                  <div class="owl-carousel" id="theme-based">
                <div class="item">
                  <div class="blog-blk">
                    <img src="../../../../assets/PublicAssets/images/theme-p-1.jpg" alt="">
                    <div class="theme-cnt">
                      <h3>Adventure</h3>
                      <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="blog-blk">
                    <img src="../../../../assets/PublicAssets/images/theme-p-2.jpg" alt="">
                    <div class="theme-cnt">
                      <h3>Family</h3>
                      <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="blog-blk">
                    <img src="../../../../assets/PublicAssets/images/theme-p-3.jpg" alt="">
                    <div class="theme-cnt">
                      <h3>Beach</h3>
                      <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                  </div>
                </div>
              </div>
                </div>
              </div>
      
          </div>
           
      
      </section>
      
      <!-- theme based pacakges section END -->
      
      <!-- profile section START -->
      <section class="comon-space">
        <div class="container">
          <div class="comn-heading">
            <h2>Profile</h2>
            <h3 class="heading-before">Profile</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          </div>
        </div>
      
        <div class="profile-main">
          <div class="d-flex flex-wrap">
          <div class="col-md-6">
            <div class="profile-left d-flex flex-wrap justify-content-center">
              <div class="profile-bg"><img src="../../../../assets/PublicAssets/images/profile-bg.jpg" alt=""></div>
              <div class="profile-1"><img src="../../../../assets/PublicAssets/images/People-1.jpg" alt=""></div>
              <div class="profile-2"><img src="../../../../assets/PublicAssets/images/People-2.jpg" alt=""></div>
            </div>
      
          </div>
          <div class="col-md-6">
            <div class="profile-right">
              <div class="d-flex flex-wrap">
                <div class="col-md-6">
                  <div class="travel-guru">
                    <h2>Travel Gurus Profile</h2>
                    <ul>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-1.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-2.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-3.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-4.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-5.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="travel-guru">
                    <h2>Expert Travllers</h2>
                    <ul>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-6.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-7.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-8.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-9.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)">
                          <div class="guru-main d-flex flex-wrap align-items-top">
                            <div class="guru-left">
                              <img src="../../../../assets/PublicAssets/images/user-10.png" alt="">
                            </div>
                            <div class="guru-rgt">
                              <h4>eva stuard</h4>
                              <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      
      </section>
      <!-- profile section END -->
      
      <!-- latest blog section START -->
      <section class="pink-bg">
        
        <div class="container">
          <div class="comn-heading">
            <h2>Latest Blog</h2>
            <h3 class="heading-before">Blog</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          </div>
        </div>
      
        <div class="container">
          <div class="d-flex flex-wrap">
            <div class="col-md-4 mb-4">
              <div class="blog-main">
                <div class="blog-img"><img src="../../../../assets/PublicAssets/images/Blog-3.jpg" alt=""></div>
                <div class="blog-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Eirmod diam amet diam clita</h4>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="blog-main">
                <div class="blog-img"><img src="../../../../assets/PublicAssets/images/blog-1.jpg" alt=""></div>
                <div class="blog-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Eirmod diam amet diam clita</h4>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="blog-main">
                <div class="blog-img"><img src="../../../../assets/PublicAssets/images/blog-2.jpg" alt=""></div>
                <div class="blog-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Eirmod diam amet diam clita</h4>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-main">
                <div class="blog-img"><img src="../../../../assets/PublicAssets/images/blog-4.jpg" alt=""></div>
                <div class="blog-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Eirmod diam amet diam clita</h4>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-main">
                <div class="blog-img"><img src="../../../../assets/PublicAssets/images/blog-5.jpg" alt=""></div>
                <div class="blog-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Eirmod diam amet diam clita</h4>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-main">
                <div class="blog-img"><img src="../../../../assets/PublicAssets/images/blog-6.jpg" alt=""></div>
                <div class="blog-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Eirmod diam amet diam clita</h4>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
      
         </div>
         </div>
      </section>
      <!-- latest blog section END-->
      
      
      <!-- interview video section START -->
      <section class="comon-space">
        <div class="container">
          <div class="comn-heading">
            <h2>Interview Videos</h2>
            <h3 class="heading-before">Interview</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          </div>
        </div>
      
        <div class="interview-video">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center interview-video-inr">
              <div class="col-md-8">
                <div class="owl-carousel" id="owl-interview-video">
                  <div class="item">
                    <div class="d-flex flex-wrap align-items-center interview-video-left">
                          <div class="col-md-6">
                          <div class="interview-lft-cnt">
                            <h2>Stuard Hudson</h2>
                            <h3>Vice President</h3>
                            <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="interview-rgt-img">
                            <img src="../../../../assets/PublicAssets/images/interview-people.jpg" alt="">
                          </div>
                          <div class="hero-video" data-wow-delay="0.5s" >
                            <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
                          </div>
                        </div>
                    </div>
                  </div>
      
                  <div class="item">
                    <div class="d-flex flex-wrap align-items-center interview-video-left">
                          <div class="col-md-6">
                          <div class="interview-lft-cnt">
                            <h2>Stuard Hudson</h2>
                            <h3>Vice President</h3>
                            <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="interview-rgt-img">
                            <img src="../../../../assets/PublicAssets/images/interview-people.jpg" alt="">
                          </div>
                          <div class="hero-video wow bounceIn" data-wow-delay="0.5s" >
                            <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
                          </div>
                        </div>
                    </div>
                  </div>
      
                  <div class="item">
                    <div class="d-flex flex-wrap align-items-center interview-video-left">
                          <div class="col-md-6">
                          <div class="interview-lft-cnt">
                            <h2>Stuard Hudson</h2>
                            <h3>Vice President</h3>
                            <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="interview-rgt-img">
                            <img src="../../../../assets/PublicAssets/images/interview-people.jpg" alt="">
                          </div>
                          <div class="hero-video wow bounceIn" data-wow-delay="0.5s" >
                            <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
                          </div>
                        </div>
                    </div>
                  </div>
      
                  
                </div>
              </div>
              <div class="col-md-4">
                <div class="interview-video-bg">
                  <img src="../../../../assets/PublicAssets/images/video-bg.jpg" alt="">
                </div>
              </div>
            </div>
      
          </div>
       </div>
      
      </section>
      <!-- interview video section END -->
      
      
      <!-- trending news section START -->
      <section class="comon-space">
       <div class="container">
        <div class="comn-heading">
          <h2>Trending News</h2>
          <h3 class="heading-before">Trending News</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
        </div>
      </div>
      
        <div class="d-flex flex-wrap tranding-main-all">
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-5.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-7.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-2.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-3.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-4.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-5.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-6.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tranding-main-upr">
            <div class="tranding-main">
              <img src="../../../../assets/PublicAssets/images/tranding-7.jpg" alt="">
              <div class="tranding-cnt">
                <h3>Adventure</h3>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              </div>
            </div>
          </div>
        </div>
      
        
        
        
        
           
        </div>
      </section>
      
      <!-- trending news section END -->
      
      <!-- events section START -->
      <section class="green-bg">
        <div class="container">
          <div class="comn-heading">
            <h2>Events in 2020</h2>
            <h3 class="heading-before">Events</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          </div>
        </div>
      
          <div class="container">
            <div class="d-flex flex-wrap">
              <div class="col-md-3 mb-5">
              <div class="events-main">
                <div class="events-img"><img src="../../../../assets/PublicAssets/images/event-1.jpg" alt=""></div>
                <div class="events-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Vibra Mahou Fest</h4>
                  <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-5">
              <div class="events-main">
                <div class="events-img"><img src="../../../../assets/PublicAssets/images/event-2.jpg" alt=""></div>
                <div class="events-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Peetercen Ballet</h4>
                  <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-5">
              <div class="events-main">
                <div class="events-img"><img src="../../../../assets/PublicAssets/images/event-3.jpg" alt=""></div>
                <div class="events-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Seems Street Live</h4>
                  <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-5">
              <div class="events-main">
                <div class="events-img"><img src="../../../../assets/PublicAssets/images/event-4.jpg" alt=""></div>
                <div class="events-cnt">
                  <h3>October 31, 2021</h3>
                  <h4>Kenny G</h4>
                  <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
                </div>
              </div>
            </div>
            </div>
          </div>
      </section>
      
      <!-- events section END -->
      
      <!-- top 10 destionation section START -->
      
      <section class="comon-space">
       <div class="container">
        <div class="comn-heading">
          <h2>Top 10 Destination to Visit In India</h2>
          <h3 class="heading-before">Top Destination</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
        </div>
      </div>
          
          <div class="container">
            <div class="d-flex flex-wrap">
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-1.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-2.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-1.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-4.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-5.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-6.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-7.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5">
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../../../../assets/PublicAssets/images/top-destination-8.jpg" alt="">
                    </div>
                    <div class="flip-card-back">
                      <h3>red chruch</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                    <a href="javascript:void(0)">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      
      </section>
      <!-- top 10 destionation section END -->
      
      <!-- footer section START -->
      <footer class="footer-bg" style="background-image: url(../../../../assets/PublicAssets/images/footer-bg.jpg);">
        <div class="container">
          <div class="d-flex flex-wrap">
            <div class="col-md-3">
              <div class="about-ftr">
                <h4><img src="../../../../assets/PublicAssets/images/LiveTraveller-white.png"></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <div class="social-icons">
                  <ul>
                    <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="about-ftr">
                <h4>Company</h4>
                <div class="contact-main ">
                  <ul>
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)">Top 10 Blogs</a></li>
                    <li><a href="javascript:void(0)">Contact Us</a></li>
                    <li><a href="javascript:void(0)">Our team</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                  </ul>
                </div>
            </div>
          </div>
           <div class="col-md-3">
              <div class="about-ftr">
                <h4>Contact Us</h4>
                <div class="contact-main ">
                  <ul>
                    <li><a href="javascript:void(0)"><i class="fa fa-map-marker"></i>2005 Stokes Isle Apt. 896, Venaville 10010, USA</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-envelope"></i>hello@tankumbrella.io</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-phone"></i>(+12) 345 6789</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="about-ftr">
                <h4>Join the newsletter</h4>
                <div class="contact-main ">
                  <ul>
                    <li><input type="text" name="" placeholder="Email"></li>
                    <li><a><button class="btn btn-suscribe purpel-btn">suscribe</button></a></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">&copy; 2020 — by <a href="Rohitphotocrafts.com">livetrveller.in</a> All Right Reserved.</div>
      </footer>
      
      <!-- footer section END -->
      
      
       <!--Video Modal Start-->
      <div class="modal fade" id="HeroVideo" tabindex="-1" role="dialog" aria-labelledby="HeroVideo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
             <video controls autoplay loop id="video1">
                  <source src="../../../../assets/PublicAssets/video/AWP.mp4" type="video/mp4">
                  Your browser does not support the video tag.
              </video>
            </div>
            
          </div>
        </div>
      </div>
      <!--Video Modal End-->