<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">About Us Introduction</h4>
            </div>
            <div class="content">
              <div class="about_story">
                <div class="aboutus-container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
                          <div class="form-group">
                            <label class="control-label col-sm-2 input-label" for="title">Introduction Title:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title"  placeholder="Introduction Title">
                                </div>
                          </div>
                          
                          <div class="form-group"
                            [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
                            <label class="control-label col-sm-2 input-label" for="title">Description:</label>
                            <div class="col-sm-10">
                              <editor apiKey="byg3blvrvimc75hw1cb3hwo9su10wod4ogt2oi6p3nmaukek" [(ngModel)]="mycontent" #myckeditor="ngModel" name="myckeditor" [init]="tinymceConfig"></editor>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Left Top Image:</label>
                            <div class="col-sm-10">
                                <div class="image-preview mb-3" *ngIf="fileUploaded1 == true || editContent == true">
                                    <img [src]="previewUrl1" height="100" width="105"  />                 
                                </div>
                                <label for="files1"  *ngIf="(fileUploaded1 == true || editContent == true ) && (previewUrl1 != undefined)" class="btn btn-primary">update File</label>
                                <input type="file" [class.hidden]="fileUploaded1 == true || editContent ==  true " name="featuredImageFirst" id="files1" #files1 (change)="preview1(files1)" [(ngModel)]="featuredImageFirst">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="pwd">Right Bottom Image:</label>
                          <div class="col-sm-10">
                              <div class="image-preview mb-3" *ngIf="fileUploaded2 == true || editContent == true">
                                  <img [src]="previewUrl2" height="100" width="105"  />                 
                              </div>
                              <label for="files2"  *ngIf="(fileUploaded2 == true || editContent == true) && (previewUrl2 != undefined)" class="btn btn-primary">update File</label>
                              <input type="file"  [class.hidden]="fileUploaded2 == true || editContent ==  true " name="featuredImageSecond" id="files2" #files2 (change)="preview2(files2)" [(ngModel)]="featuredImageSecond">
                          </div>
                      </div>
                          <div class="form-group">
                            <label class="col-sm-2" for="pwd" [tooltip]="tooltipText" [options]="tooltipOptions">Show:</label>
                            <div class="col-sm-1">
                              <ui-switch
                              labelOn="Yes"
                              labelOff="No"
                              checkedTextColor="red"
                              [(ngModel)]="status"
                              name="status" 
                              ></ui-switch>
                            </div>
                            <div class="col-sm-10"></div>
                          </div>

                          <!-- <div class="form-group"> -->
                            <button [disabled]="myForm.invalid" *ngIf="editContent == false" class="btn btn-primary submit-btn"
                            (click)="SaveAboutUs()">Save</button>
                          <button [disabled]="myForm.invalid" *ngIf="editContent == true" class="btn btn-primary submit-btn"
                            (click)="SaveAboutUs(aboutUsData)">Update</button>
                          <!-- </div> -->
                       
                        </form>
                      </div>
                      <div class="navigation">
                        <ul class="nav navbar-nav navbar-right">
                          <li><button class="btn btn-primary" *ngIf="aboutUsData != undefined"
                              (click)="editCkeditorContent(aboutUsData)">Edit</button></li>
                          <li><button class="btn btn-primary" *ngIf="aboutUsData != undefined"
                              (click)="deleteCkeditorContent(aboutUsData)">Delete</button></li>
                        </ul>
                      </div>
                      <div>
                        <div class="display-ckeditor-content">

                          <div>{{aboutUsData?.title}}</div>
                          <img [src]="imgSrcPath+aboutUsData?.featuredImageFirst" alt="">
                          <img [src]="imgSrcPath+aboutUsData?.featuredImageSecond" alt="">
                          <div [innerHTML]="aboutUsDescription|safeHtml"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>