.vs
OLiveDMC/ClientApp/node_modules
BusinessDataModel/bin
BusinessDataModel/obj
BusinessRespository/bin
BusinessRespository/obj
BusinessServices/bin
BusinessServices/obj
OLiveDMC/bin
OLiveDMC/obj
OLiveDMC.sln
BusinessDataModel/
BusinessRespository/
BusinessServices/
