<p>dashboard works!</p>
<!-- <video id="video" #video src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" controls></video> -->
<video id="video" #video src="http://localhost:51306/Uploads/Banner/Video/202061973611_travel2.mp4" type="video/mp4" controls></video>
<button (click)="capture()">Capture</button>
<canvas id="canvas" #canvas style="overflow:auto"></canvas>

<!-- <video width="400" controls="controls" preload="metadata">
    <source src="https://www.w3schools.com/html/mov_bbb.mp4#t=0.5" type="video/mp4">
</video> -->

