

  
  <div class="overlay"></div>
  
  <!-- fixed social media start-->
  <div id="fixed-social">
    <div>
      <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
    </div>
    <div>
      <a href="#" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
    </div>
    <div>
      <a href="#" class="fixed-gplus" target="_blank"><i class="fa fa-google"></i> <span>Google+</span></a>
    </div>
    <div>
      <a href="#" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
    </div>
    <div>
      <a href="#" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
    </div>
  </div>
  <!-- fixed social media end -->
  <!-- slider section html START -->
  
  
  
  <!-- destination section START -->
  <section class="destionation-map-space">
  
  
      <div class="destionation-map">
        <img src="../../../../assets/PublicAssets/images/map.jpg" alt="">
      </div>
    
  
  </section>
  <!-- destination section END -->
  
  <!-- about india section START -->
  <section class="blue-bg">
        <div class="container">
        <div class="about-india">
            <div class="d-flex flex-wrap justify-content-between">
              <div class="col-12 col-lg-6">
                <div class="about-trip">
                  <h2>About India</h2>
                  <p>To gain access to our Premium theme club, users need to purchase one of our license, which is a one-time payment. Purchasing license also enables users to enjoy many Premium plugins for WordPress for free. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                  <p>To gain access to our Premium theme club, users need to purchase one of our license, which is a one-time payment. Purchasing license also enables users to enjoy many Premium plugins for WordPress for free. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                </div>
              </div>
  
              <div class="col-12 col-lg-6">
                <!-- <div class="mask-image">
                   <img src="../../../../assets/PublicAssets/images/news-1.jpg" alt="">
                </div> -->
                <div class="destionation-video">
                  <div class="destination-video-img"><img src="../../../../assets/PublicAssets/images/destionation-v-2.jpg" alt=""></div>
                  <div class="hero-video" data-wow-delay="0.5s" >
                    <span type="button" data-toggle="modal" data-target="#HeroVideo">&nbsp;<img src="../../../../assets/PublicAssets/images/play-btn.svg" alt=""></span>
                  </div>
                </div>
              </div> 
              
            </div>
          </div>
      </div>
  </section>
  
  <!-- about india section END -->
  
  <!-- top attraction section START -->
  <section class="top-attraction">
    <div class="container">
      <div class="comn-heading">
        <h2>Top Attractions</h2>
        <h3 class="heading-before">Attractions</h3>
      </div>
    </div>
  
    <div class="container">
      <div class="d-flex flex-wrap top-attraction-main">
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-1.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-2.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-1.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-4.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-5.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-6.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-7.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-5">
            <div class="flip-card wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../../../../assets/PublicAssets/images/top-destination-8.jpg" alt="">
                </div>
                <div class="flip-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- top attraction section END -->
  
  
  
  
  <!-- Top 10 Destination to Visit In India section START -->
  <section class="pink-bg">
    <div class="container">
      <div class="comn-heading">
        <h2>Top 10 Destination to Visit In India</h2>
        <h3 class="heading-before">Top Destination</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
      </div>
    </div>
  
    <div class="container">
       <div class="d-flex flex-wrap flex-row top-destination-pink">
         <div class="col-md-6 mb-5">
             <div class="rotate-card">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-1.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
         </div>
  
         <div class="col-md-6 mb-5">
          <div class="d-flex flex-wrap">
           <div class="col-md-6 mb-5">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-2.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
           <div class="col-md-6 mb-5">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-3.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
           <div class="col-md-6">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-2.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
           <div class="col-md-6">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-4.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
         </div>
         </div>
       </div>
  
       <div class="d-flex flex-wrap flex-row-reverse top-destination-pink">
         <div class="col-md-6 mb-5">
             <div class="rotate-card">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-1.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
         </div>
  
         <div class="col-md-6 mb-5">
          <div class="d-flex flex-wrap">
           <div class="col-md-6 mb-5">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-2.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
           <div class="col-md-6 mb-5">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-3.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
           <div class="col-md-6">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-2.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
           <div class="col-md-6">
             <div class="rotate-card-right">
              <div class="rotate-card-inner">
                <div class="rotate-card-front">
                  <img src="../../../../assets/PublicAssets/images/attraction-4.jpg" alt="">
                </div>
                <div class="rotate-card-back">
                  <h3>red chruch</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea reb.Stet clita kasd gubergren</p>
                <a href="javascript:void(0)">Read More</a>
                </div>
              </div>
            </div>
           </div>
         </div>
         </div>
       </div>
       
    </div>
  </section>
  <!-- Top 10 Destination to Visit In India section END -->
  
  
  
  
  
  
  
  
  <!-- destionation finder theme based pacakges section START -->
  <section class="comon-space">
    <div class="container">
      <div class="comn-heading">
        <h2>Theme Based Packages</h2>
        <h3 class="heading-before">Packages</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
      </div>
    </div>
  
      <div class="container">
        <div class="about-rgt">
            <div class="pacakge-img">
              <div class="owl-carousel" id="theme-of-pacakge">
            <div class="item">
              <div class="blog-blk">
                <img src="../../../../assets/PublicAssets/images/theme-p-1.jpg" alt="">
                <div class="theme-cnt">
                  <h3>Adventure</h3>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-blk">
                <img src="../../../../assets/PublicAssets/images/theme-p-2.jpg" alt="">
                <div class="theme-cnt">
                  <h3>Family</h3>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="blog-blk">
                <img src="../../../../assets/PublicAssets/images/theme-p-3.jpg" alt="">
                <div class="theme-cnt">
                  <h3>Beach</h3>
                  <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
  
      </div>
       
  
  </section>
  
  <!-- destionation finder theme based pacakges section END -->
  
  
  
  <!-- List of Top Packages section START -->
  <section class="comon-space">
    <div class="container">
      <div class="comn-heading">
        <h2>List of Top Pacakges</h2>
        <h3 class="heading-before">Top Packages</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
      </div>
    </div>
  
      <div class="container">
        <div class="list-top-pacakge">
         <div class="owl-carousel" id="list-of-top-pacakge">
           <div class="item">
             <div class="events-main ">
              <div class="events-img"><img src="../../../../assets/PublicAssets/images/destination-1.jpg" alt=""></div>
              <div class="events-cnt">
                <h3>October 31, 2021</h3>
                <h4>Vibra Mahou Fest</h4>
                <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
              </div>
            </div>
          </div>
          <div class="item">
             <div class="events-main ">
              <div class="events-img"><img src="../../../../assets/PublicAssets/images/destination-2.jpg" alt=""></div>
              <div class="events-cnt">
                <h3>October 31, 2021</h3>
                <h4>Vibra Mahou Fest</h4>
                <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
              </div>
            </div>
          </div>
          <div class="item">
             <div class="events-main ">
              <div class="events-img"><img src="../../../../assets/PublicAssets/images/destination-3.jpg" alt=""></div>
              <div class="events-cnt">
                <h3>October 31, 2021</h3>
                <h4>Vibra Mahou Fest</h4>
                <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
              </div>
            </div>
          </div>
          <div class="item">
             <div class="events-main ">
              <div class="events-img"><img src="../../../../assets/PublicAssets/images/destination-4.jpg" alt=""></div>
              <div class="events-cnt">
                <h3>October 31, 2021</h3>
                <h4>Vibra Mahou Fest</h4>
                <h5><i class="fa fa-map-marker"></i>Green Park Chicago</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  
  <!-- List of Top Packages section END -->
  
  <!-- Your Visa Details section START -->
  <section class="visa-main">
    <div class="d-flex flex-wrap flex-row align-items-center justify-content-center visa-detail">
      <div class="col-md-6">
        <div class="mission-img">
          <img src="../../../../assets/PublicAssets/images/our-mission.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mission-cnt">
          <h3>Your Visa Details</h3>
          <p>To gain access to our Premium theme club, users need to purchase one of our license, which is a one-time payment. Purchasing license also enables users to enjoy many Premium plugins for WordPress for free. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          <p>To gain access to our Premium theme club, users need to purchase one of our license, which is a one-time payment. Purchasing license also enables users to enjoy many Premium plugins for WordPress for free. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
        </div>
      </div>
    </div>
  
    <div class="d-flex flex-wrap flex-row-reverse align-items-center justify-content-center visa-detail">
      <div class="col-md-6">
        <div class="mission-img">
          <img src="../../../../assets/PublicAssets/images/reaching-map.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mission-cnt">
          <h3>How to Reach</h3>
          <p>To gain access to our Premium theme club, users need to purchase one of our license, which is a one-time payment. Purchasing license also enables users to enjoy many Premium plugins for WordPress for free. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          <p>To gain access to our Premium theme club, users need to purchase one of our license, which is a one-time payment. Purchasing license also enables users to enjoy many Premium plugins for WordPress for free. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
        </div>
      </div>
    </div>
    
  </section>
  
  <!-- Your Visa Details section END -->
  
   <!--Video Modal Start-->
  <div class="modal fade" id="HeroVideo" tabindex="-1" role="dialog" aria-labelledby="HeroVideo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <video controls autoplay loop id="video1">
              <source src="video/AWP.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>
        
      </div>
    </div>
  </div>
  <!--Video Modal End-->