/* .private-footer{
    position: fixed;
    width: 82%;
    bottom: 0px;
} */

/* 
#chartdiv  g[style*="url(#filter-id-79)"] {
  visibility: hidden;
} */

.sidebar[data-color=red]:after {
  /* background: #fb404b !important; */
  /* background: #ff101f !important; */
  background: #ff101ff2 !important;
  background: linear-gradient(to bottom,#fb404b 0,rgba(187,5,2,.7) 100%);
  background-size: 150% 150%;
}