<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#f0acaf" type = "timer" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>

<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <!-- <app-sidebar></app-sidebar> -->
        <!-- sidebar start  -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    <div class="logo-img">
                        <img src="../../../../assets/img/angular2-logo-white.png"/>
                    </div>
                    OLIVE DMC
                </a>
            </div>
            <ul class="nav responsive-nav">
                 <li *ngIf="isMobileMenu()">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li> 
                <li class="dropdown" *ngIf="isMobileMenu()">
                      <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <b class="caret hidden-sm hidden-xs"></b>
                            <span class="notification hidden-sm hidden-xs">5</span>
                            <p class="hidden-lg hidden-md">
                                5 Notifications
                                <b class="caret"></b>
                            </p>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                      </ul>
                </li>
                <li *ngIf="isMobileMenu()">
                   <a>
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li>
                <li *ngIf="isMobileMenu()">
                   <a href="">
                       <p>Account</p>
                    </a>
                </li>
                <li class="dropdown" *ngIf="isMobileMenu()">
                      <a class="dropdown-toggle" data-toggle="dropdown">
                            <p>
                                Dropdown
                                <b class="caret"></b>
                            </p>
        
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                </li>
                <li *ngIf="isMobileMenu()">
                    <a>
                        <p>Log out</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                    <a [routerLink]="[menuItem.path]" *ngIf="menuItem.path != '' ">
                        <i class="{{menuItem.icon}}"></i>
                        <p>{{menuItem.title}} <b class="caret" *ngIf="menuItem.child.length != 0"></b> </p>
        
                    </a>
                </li>
                <li routerLinkActive="active"  class="">
                    <a data-toggle="collapse" data-target="#whatsNew">
                        <i class="pe-7s-note2"></i>
                        <p>WHAT'S NEW<b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="whatsNew">
                        <ul class="nav">
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/current-news']">
                                    <span class="sidebar-mini">CN</span>
                                    <span class="sidebar-normal">CURRENT NEWS</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/upcomming-news']">
                                    <span class="sidebar-mini">UN</span>
                                    <span class="sidebar-normal">UPCOMMING NEWS</span>
                                </a>
                            </li>
                       </ul>
                    </div>
                </li>
                <li routerLinkActive="active"  class="">
                    <a data-toggle="collapse" data-target="#newsAndEvent">
                        <i class="pe-7s-note2"></i>
                        <p>NEWS And EVENT<b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="newsAndEvent">
                        <ul class="nav">
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/news']">
                                    <span class="sidebar-mini">N</span>
                                    <span class="sidebar-normal">NEWS</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/event']">
                                    <span class="sidebar-mini">E</span>
                                    <span class="sidebar-normal">EVENT</span>
                                </a>
                            </li>
                       </ul>
                    </div>
                </li>
                <li routerLinkActive="active"  class="">
                    <a data-toggle="collapse" data-target="#Settings">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <p>SETTINGS <b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="Settings">
                        <ul class="nav">
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/about-us']">
                                    <span class="sidebar-mini">AU</span>
                                    <span class="sidebar-normal">About Us</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/banner']">
                                    <span class="sidebar-mini">B</span>
                                    <span class="sidebar-normal">BANNER</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/offer-ads']">
                                    <span class="sidebar-mini">O</span>
                                    <span class="sidebar-normal">Offer or Ads</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['/private/location']">
                                    <span class="sidebar-mini">L</span>
                                    <span class="sidebar-normal">Location</span>
                                </a>
                            </li>
                       </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar-background" style="background-image: url(assets/img/full-screen-image-3.jpg)"></div>
        
        <!-- sidebar end -->
<!-- <div class="sidebar-background" style="background-image: url(../../../../assets/img/full-screen-image-3.jpg)"></div> -->

    </div>
  
    <div class="main-panel">
        <!-- <app-header></app-header> -->
         <!-- header start  -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >{{getTitle()}}</a>
                </div>
                <div class="collapse navbar-collapse">
        
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown user user-menu">
                            <a  class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <img src="../../../../assets/img/faces/face-1.jpg" class="user-image" alt="User Image">
                              <span class="hidden-xs">{{userData.firstName+ ' '+ userData.lastName}}</span>
                            </a>
                            <ul class="dropdown-menu">
                              <li class="user-header">
                                <img src="../../../../assets/img/faces/face-1.jpg" class="img-circle" alt="User Image">
                
                                <p>
                                    {{userData.firstName+ ' '+ userData.lastName}}
                                </p>
                              </li>
                              <li class="user-footer">
                                <div class="pull-left">
                                  <a  class="btn btn-default btn-flat" [routerLink]="['/private/user-profile']" >Profile</a>
                                </div>
                                <div class="pull-right">
                                  <a  class="btn btn-default btn-flat" (click)="logout()">Sign out</a>
                                </div>
                              </li>
                            </ul>
                          </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        <!-- header end -->
        <router-outlet></router-outlet>

         <!-- Footer Start  -->
        <div class="private-footer">
            <!-- <app-footer></app-footer> -->
            <!-- footer start  -->
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a>
                                    Company
                                </a>
                            </li>
                            <li>
                                <a>
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a>
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; {{test | date: 'yyyy'}}  All right reserved by the OLIVE DMC
                    </p>
                </div>
            </footer>
            
        
        <!-- footer end -->
        </div>
        <!-- footer end  -->
    </div>
  
  </div>
  