

  
  <div class="overlay"></div>
  
  <!-- fixed social media start-->
  <div id="fixed-social">
    <div>
      <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
    </div>
    <div>
      <a href="#" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
    </div>
    <div>
      <a href="#" class="fixed-gplus" target="_blank"><i class="fa fa-google"></i> <span>Google+</span></a>
    </div>
    <div>
      <a href="#" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
    </div>
    <div>
      <a href="#" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
    </div>
  </div>
  <!-- fixed social media end -->
  <!-- slider section html START -->
  
  
  <!-- inner banner section html START -->
  
  <section class="inner-banner" style="background-image: url(../../../../assets/PublicAssets/images/travel-utility.jpg)">
  
      <div class="baner-cnt">
        <h2>Travel Utility</h2>
        <div class="breadcrumbs">
          <a href="home.html">Home</a><span class=""> / </span><span class="current">Travel Details</span>
        </div>
      </div>
  
  </section>
  
  <!-- inner banner section html END -->
  
  
  <!-- utility details section START -->
  <section class="comon-space">
    <div class="container">
      <div class="comn-heading">
        <h2>Visa Details</h2>
        <h3 class="heading-before">Details</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
      </div>
    </div>
  
    <div class="container">
      <div class="d-flex flex-wrap">
          <div class="col-md-8">
            <div class="utility-detail">
              <div class="utility-detail-banner"><img src="../../../../assets/PublicAssets/images/detail-img.jpg" alt=""></div>
              <div class="date-details">
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="col-md-2">
                    <div class="date-box">
                      <h3>24</h3>
                      <h4>April</h4>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="date-heading">
                      <div class="date-h"><h3>London Going Visa</h3></div>
                      <div class="place-time">
                        <h4><i class="fa fa-map-marker"></i>Brooklyn, NY 10036 new York united state</h4>
                        <h4><i class="fa fa-clock-o"></i>08 : 00 pm to 11:pm onwords</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="utility-held-detail">
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dropdown-linkres et ea rebum. Stet clita kasd.</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="travel-detail-ad">
              <ul>
                <li><a href="javascript:void(0)"><img src="../../../../assets/PublicAssets/images/ad-Image-1.jpg"></a></li>
                <li><a href="javascript:void(0)"><img src="../../../../assets/PublicAssets/images/ad-Image-2.jpg"></a></li>
                <li><a href="javascript:void(0)"><img src="../../../../assets/PublicAssets/images/ad-Image-3.jpg"></a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- utility details section END -->
  
  
  
  
  
  