<!-- <p>blog works!</p> -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form class="form-horizontal" [formGroup]="festivalForm" (ngSubmit)="submitFestivalData()">
                            <div class="form-group">
                                <label class="control-label col-sm-2 input-label" for="title">Festival Title:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title"  placeholder="Enter Festival Title" formControlName="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 input-label" for="title">Short Description:</label>
                                <div class="col-sm-10">
                                    <textarea name="" class="form-control" id="" cols="115" rows="10" formControlName="shortDescription" (input)="shortDescriptionCharacterCount($event)"></textarea>
                                    <div class="character-count">count {{characterCount}}/200</div> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Description">Description:</label>
                                <div class="col-sm-10">
                                  <editor apiKey="byg3blvrvimc75hw1cb3hwo9su10wod4ogt2oi6p3nmaukek" formControlName="description" [init]="tinymceConfig"></editor>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Featured Image:</label>
                                <div class="col-sm-10">
                                    <div class="image-preview mb-3" *ngIf="fileUploaded == true || edit_festival == true">
                                        <img [src]="previewUrl" height="100" width="105"  />                 
                                    </div>
                                    <label for="files"  *ngIf="edit_festival == true ||  (festivalForm.get('featuredImage').value != '' && festivalForm.get('featuredImage').value != null )" class="btn btn-primary">update File</label>
                                    <input type="file" *ngIf="fileUploaded == false || edit_festival == true || festivalForm.get('featuredImage').value != ''" [class.hidden]="edit_festival == true ||  (festivalForm.get('featuredImage').value != '' && festivalForm.get('featuredImage').value != null )" name="" id="files" #files (change)="preview(files)" formControlName="featuredImage">
                                </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-2" for="pwd"><img src="../../../../assets/icon/more_info1.jpg" alt="" width="14" height="13"  [tooltip]="tooltipVideoText" [options]="tooltipOptions">Video:</label>
                              <div class="col-sm-10">
                                  <video  *ngIf="videoName == '' " width="320" height="240" [src] = "videoUrl" controls>
                                  </video>
                                  <video  *ngIf="videoName != '' " width="320" height="240" [src] = "apiendpoint+'Uploads/Festival/Video/'+videoName" controls>
                                  </video>
                                  <input type="file" name="" id="videofiles" #files1 (change)="changeVideo(files1)" formControlName="video">
                              </div>
                          </div>
                            <div class="form-group">
                                <!-- <span class="tooltip-info col-sm-1"><label class="tooltip-content">i</label></span> -->
                                <label class="control-label col-sm-2 status-lable"> <img src="../../../../assets/icon/more_info1.jpg" alt="" width="14" height="13"  [tooltip]="tooltipText" [options]="tooltipOptions"> Show:</label>
                                <div class="col-sm-1">
                                    <!-- <input type="checkbox" class="status-form-control" formControlName="status"> -->
                                    <ui-switch
                                    labelOn="Yes"
                                    labelOff="No"
                                    checkedTextColor="red"
                                    formControlName="showInFrontEnd"
                                    (change)= "festivalShowInFrontAction($event)"
                                    ></ui-switch>
                                </div>
                                <div class="col-sm-7" class="form-control status-border"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 status-lable"> <img src="../../../../assets/icon/more_info1.jpg" alt="" width="14" height="13"  [tooltip]="tooltipImagetext" [options]="tooltipImagetext"> Image Show :</label>
                                <div class="col-sm-1">
                                    <ui-switch
                                    labelOn="Yes"
                                    labelOff="No"
                                    checkedTextColor="red"
                                    formControlName="imageShowInFront"
                                    (change)= "imageShowInFrontAction($event)"
                                    ></ui-switch>
                                </div>
                                <div class="col-sm-7" class="form-control status-border"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 status-lable"> <img src="../../../../assets/icon/more_info1.jpg" alt="" width="14" height="13"  [tooltip]="tooltipVideotext" [options]="tooltipVideotext"> Video Show:</label>
                                <div class="col-sm-1">
                                    <ui-switch
                                    labelOn="Yes"
                                    labelOff="No"
                                    checkedTextColor="red"
                                    formControlName="videoShowInFront"
                                    (change)= "videoShowInFrontAction($event)"
                                    ></ui-switch>
                                </div>
                                <div class="col-sm-7" class="form-control status-border"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <button type="submit" *ngIf="edit_festival == false" [disabled]="festivalForm.invalid" class="btn btn-default btn-primary" >Submit</button>
                                    <button type="submit" *ngIf="edit_festival == true" [disabled]="festivalForm.invalid" class="btn btn-default btn-primary" >Update</button>
                                </div>
                            </div>
                        </form>


                        <ul class="blog-list" *ngIf="festivals.length != 0">
                            <li class="blog-body" *ngFor="let festival of festivals">
                                <div class="row">
                                    <div class="col-md-3">
                                      <div class="blog-image" (click)="gotoDetailPage(festival)">
                                        <img [src]="apiendpoint+'Uploads/Festival/image/'+festival.featuredImage">
                                      </div>    
                                    </div>
                                    <div class="col-md-9">
                                      <div class="blog-content">
                                        <div class="blog-title">
                                          <a  (click)="gotoDetailPage(festival)">{{festival.title.length > 80 ? (festival.title|slice : 0 :75)+'...' : festival.title}}</a>
                                        </div>
                                        <div class="blog-details">
                                          <a class="blog-approval" >Show: {{festival.showInFrontEnd == true ? 'Yes' : 'No'}}</a>
                                          <span class="blog-publish-date">{{festival.createdDate| date:'dd-MMM-yyyy' }}</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="blog-actions col-md-12">
                                      <button class="btn btn-primary action-btn edit-blog" (click)="editFestival(festival)">edit</button>
                                      <button class="btn btn-primary action-btn delete-blog" (click)="openConfirmDialog(festival.id)">Delete</button>
                                    </div>
                                  </div>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>