li>a .sidebar-mini{
    text-transform: uppercase;
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 15px;
    letter-spacing: 1px;
}
/* 
li>a .sidebar-normal {
    margin: 0;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    white-space: nowrap;
    display: block;
}

.sidebar .nav .collapse a>span {
    transition: 150ms linear;
}
.sidebar .nav li>a {
    color: #fff;
}

.sidebar .nav li>a {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 15px 0;
    border-radius: 4px;
    color: #fff;
    opacity: .86;
}

 .sidebar .nav a {
    transition: 150ms ease-in;
}

.sidebar .nav .collapse a>span {
    transition: 150ms linear;
} */

a[data-toggle=collapse][aria-expanded=true] .caret {
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); */
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
